<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="event"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Event Detail</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin: 10px; background-color: white; opacity: 80%;">
    <ion-row>
      <ion-title text-center class="event-title">{{event.name}}</ion-title>
    </ion-row>
    <ion-row>
      <ion-col size="7.5" style="margin-left: 15px;">
          Tag: <ion-label class="gametag-title" *ngFor="let game of event.category">{{game}} </ion-label>
      </ion-col>
      <ion-col size="3.5" text-right >
        <ion-label>{{event.type}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>{{event.makerusername}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>{{event.timestamp}}</ion-label>
          <!-- <ion-datetime displayFormat="HH:mm"></ion-datetime> -->
        </ion-item>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label>From: {{event.dateStart}}</ion-label>
          <!-- <ion-datetime
            display-format="MMM DD YYYY"
            picker-format="YY MMM DD"
            name="date-from">
          </ion-datetime> -->
        </ion-item>
      </ion-col>
      <ion-col size-sm="3">
        <ion-item>
          <ion-label>To: {{event.dateEnd}}</ion-label>
          <!-- <ion-datetime
            display-format="MMM DD YYYY"
            picker-format="YY MMM DD"
            name="date-from">
          </ion-datetime> -->
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size-sm="3">
          <ion-item>
            <ion-label>Time: {{event.timestamp}}</ion-label>
            <ion-datetime displayFormat="HH:mm"></ion-datetime>
          </ion-item>
      </ion-col>
    </ion-row> -->
    <br>
    <ion-row *ngIf="event.site != 'Online'">
      <ion-col size="4.1">
        <ion-item>
          Location :
        </ion-item>
      </ion-col>
      <ion-col size="7.9">
        <ion-item>
          <ion-label>{{event.distance}} km</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- <ion-card>
          <ion-card-content>
            <ion-text>
              Lorem ipsum dolor sit amet, atqui maluisset ne sea, quo suas everti at. Nulla mucius et quo, id duo utroque elaboraret, consulatu omittantur voluptatibus id cum. Id eirmod percipit pertinax per, cum solet timeam appetere ea, ius laoreet delicata ad. Albucius molestiae voluptaria ex nec, ullum admodum consectetuer nam id, salutatus constituto dissentias quo at. tatis in qui, qui id iuvaret gloriatur, ad ius omnes apeirian.
            </ion-text>
          </ion-card-content>
        </ion-card> -->
        <p *ngIf="event.site != 'Online'" style="margin: 3%; border: solid 1px rgb(125, 125, 125); padding: 4px;">
          {{locationAddress}}
        </p>
        <p *ngIf="event.site == 'Online'" style="margin: 3%; border: solid 1px rgb(125, 125, 125); padding: 4px;">
          EVENT IS ONLINE
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" offset="0.5">
          Games: 
          <ion-item *ngFor="let game of event.games">
              <ion-label >{{game}} </ion-label>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-img class="containerpict" src="{{event.poster}}"></ion-img>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-item>
          <ion-label>Description :</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <p style="margin: 3%; border: solid 1px rgb(125, 125, 125); padding: 4px;">
            {{event.description}}
          </p>
        <!-- <ion-card>
          <ion-card-content>
            <ion-text>Lorem ipsum dolor sit amet, atqui maluisset ne sea, quo suas everti at. Nulla mucius et quo, id duo utroque elaboraret, consulatu omittantur voluptatibus id cum. Id eirmod percipit pertinax per, cum solet timeam appetere ea, ius laoreet delicata ad. Albucius molestiae voluptaria ex nec, ullum admodum consectetuer nam id, salutatus constituto dissentias quo at. At laoreet salutatus accommodare nam. Id has elaboraret appellantur conclusionemque. Iriure iuvaret maiestatis in qui, qui id iuvaret gloriatur, ad ius omnes apeirian. Est cu agam reprimique sadipscing.</ion-text>
          </ion-card-content>
        </ion-card> -->
      </ion-col>
    </ion-row>
    <ion-col *ngIf="bookmark === 'false'">
      <ion-button
        expand="block"
        color="primary"
        (click)="onSaveOrRemoveEvent()">
        Save This Event
      </ion-button>
    </ion-col>
    <ion-col  *ngIf="bookmark === 'true'">
      <ion-button
        expand="block"
        color="danger"
        (click)="onSaveOrRemoveEvent()">
        Cancel
      </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>
  