.textfield{
    border-style: solid;
    border-width: medium;
}

.containerpict {
    background-position: top center;
    width:100%; 
    height: 100%;
    background-repeat: no-repeat; 
    background-size: contain;
}

.gametag-title {
    font-size: 0.8em;
}