<ion-header>
  <ion-toolbar>
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <!-- email -->
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input inputmode="email" type="email"></ion-input>
      </ion-item>

      <!-- password -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type=:password></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-col size-sm="6" offset-sm="3">
      <!-- login button -->
      <ion-button 
      color="primary" 
      expand="block">Login</ion-button>

      <!-- signup button -->
      <ion-button
      color="primary"
      expand="block"
      routerLink="/register">Register</ion-button>
    </ion-col>
    
   
  </ion-content>
  
