<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="forum-home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="forum-add">
        <ion-label>Add</ion-label>
        <ion-icon name="add"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="forum-category">
        <ion-label>Category</ion-label>
        <ion-icon name="card"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
    </ion-tabs>
</ion-content>
