ion-img {
    border-radius: 50%;
}

.thread-name {
    font-weight: bold;
    font-size: 1em;
}

li {
    margin: 0%;
    font-size: 0.8em;
}

.thread-title {
    font-size: 0.8em;
}

ion-content{
    --background: url(../../../assets/background/4.jpg) 0 0/100% 100% no-repeat;
    --background-size: cover;  
}

.list-md {
    background: transparent;
}