.thread-title {
    font-size: 0.8em;
}

.thread-name {
    font-weight: bold;
    font-size: 1em;
}

ion-content{
    --background: url(../../../assets/background/4.jpg) 0 0/100% 100% no-repeat;
    --background-size: cover;  
}