.img-avt{
  border-radius: 50%;
}

.thread-name {
  font-weight: bold;
  font-size: 1em;
}

.thread-title {
  font-size: 1.2em;
}

.commentCard {
  max-height:  175px;

  .headerCommentCard{
    height: 90px;
  }
}

.commentImage {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.commentTitle {
  font-size: 0.9em;
  margin-left: 4px;
}

.commentTime {
  font-size: 0.7em;
}

.descCommentBorder {
  border-style: solid;
  font-size: 0.7em;
  margin: 20px;
  padding: 4px;
}

ion-content{
  --background: url(../../../assets/background/4.jpg) 0 0/100% 100% no-repeat;
  --background-size: cover;  
}

.list-md {
  background: transparent;
}