<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="forum"></ion-back-button>
        </ion-buttons>
        <ion-title text-center style="margin: auto;">Forum</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button menu="m1"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col size="4" offset="2">
                <ion-button (click)="presentAlertPrompt()">Add New Comment</ion-button>
            </ion-col>
        </ion-row>

        <ion-row text-right align-items-center ion-justify-content-end>
            <ion-col size="2" offset="4">
                <ion-label>Page</ion-label>
            </ion-col>
            <ion-col size="1.5">
                <ion-list>
                    <ion-select
                        placeholder="1"
                        ngModel
                        #selectedPage="ngModel" 
                        (ionChange)="changePage(selectedPage.value)">
                        <ion-select-option [value]="page" *ngFor="let page of maxPageArr">{{page}}</ion-select-option>
                    </ion-select>
                </ion-list>
            </ion-col>
            <ion-col size="1.5">
                <ion-text>of {{maxPage}} </ion-text>
            </ion-col>
        </ion-row>

        <!-- Thread maker -->
        <ion-row>
            <ion-col size="12">
                <ion-card *ngIf="thread!=undefined" style="background-color: white; opacity: 80%;">
                    <ion-card-header style="padding-bottom: 0px; padding-top: 2px;">
                        <ion-row>
                            <ion-col text-right style="border-bottom: solid 1px black; margin-bottom: 2px;">
                                <ion-label class="thread-title" style="font-size: 1em;">{{thread.timestamp}}</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="3.5">
                                <ion-avatar>
                                    <ion-img class="img-avt" src="{{thread.makerImage}}"></ion-img>
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="8.5" style="margin: auto; text-align: left;">
                                <ion-col style="padding-top: 20px">
                                    <ion-label class="thread-title">{{thread.makerUsername}}</ion-label>
                                </ion-col>
                            </ion-col>
                        </ion-row>
                    </ion-card-header>
                    <ion-item>
                        <ion-row>
                            <ion-label class="thread-name"> {{thread.name}} </ion-label>
                        </ion-row>
                    </ion-item>
                    <ion-card-content>
                        <p style="margin: 3%; border: solid 1px black; padding: 4px;">
                            {{thread.description}}
                        </p>
                    </ion-card-content>
                    <ion-item><ion-label>Comment : </ion-label></ion-item>
                </ion-card>
            </ion-col>
        </ion-row>

        <!-- comment-->
        <ion-row *ngFor="let comment of comments">
            <ion-col size="10" offset="2">
                <ion-card class="commentCard" style="background-color: white; opacity: 80%;">
                    <ion-card-header class="headerCommentCard" style="padding-top: 0px;">
                        <ion-row>
                            <ion-col text-right style="border-bottom: solid 1px black; margin-bottom: 2px;">
                                <ion-label class="commentTime">{{comment.timestamp}}</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="2.5">
                                <ion-avatar style="width: 40px; height: 40px;">
                                    <ion-img class="img-avt commentImage" src="{{comment.profileImage}}"></ion-img>
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="9.5" style="margin: auto; text-align: left;">
                                <ion-col style="padding-top: 20px">
                                    <ion-label class="commentTitle">{{comment.username}}</ion-label>
                                </ion-col>
                            </ion-col>
                        </ion-row>
                    </ion-card-header>
    
                    <ion-card-content>
                        <p style="margin: 3%; border: solid 1px black; padding: 4px;">
                            {{comment.threadComment}}
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
