<ion-header>
    <ion-toolbar>
        <ion-title>Add Thread</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button menu="m1"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-col size="12" text-center>
            <ion-card>
                <div align="center" style="margin-top: 5px;">
                    <ion-card-title>
                        <ion-avatar>
                            <ion-img class="img-avt" src="{{user.profileImage}}"></ion-img>
                        </ion-avatar>
                    </ion-card-title>
                </div>
                <br>
                <ion-card-subtitle>
                    {{user.username}}
                </ion-card-subtitle>
                <br>
            </ion-card>
        </ion-col>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <ion-item-group>
                <ion-item>
                    <ion-label position="stacked">
                        Thread's Name
                    </ion-label>
                    <ion-input 
                        inputmode="text"
                        ngModel
                        name="name"
                        required
                        #nameCtrl="ngModel"
                        type="text"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Game Category</ion-label>
                    <ion-select 
                        okText="Select"
                        ngModel
                        name="category"
                        required
                        #categoryCtrl="ngModel" 
                        cancelText="Cancel"
                    >
                        <ion-select-option value="Moba">Moba</ion-select-option>
                        <ion-select-option value="TCG">TCG</ion-select-option>
                        <ion-select-option value="Shooting">Shooting</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Description</ion-label>
                    <ion-textarea
                        maxlength="500"
                        placeholder="Please make description that easy to understand and not to long (max: 500)"
                        inputmode="text"
                        ngModel
                        name="description"
                        required
                        description
                        #descriptionCtrl="ngModel"
                        type="text"
                        minlength="1"
                        autofocus
                        autoGrow
                    ></ion-textarea>
                </ion-item>
            </ion-item-group>
            <ion-button 
                expand="block"
                (click)="onAddThread(f)">
                Add Thread
            </ion-button>
        </form>
    </ion-grid>
</ion-content>
