.red {
    color: #ff0000;
    font-size: 0.8em;
}

ion-content{
    --background: url(../../assets/background/4.jpg) 0 0/100% 100% no-repeat;
    --background-size: cover;  
}

.red {
    color: red;
}